@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  background-color: #000;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: solid 1px #fff;
  border-radius: 10px;
}

input {
  padding: 5px;
  background-color: #000e3f;
  border-radius: 6px;
  border: none;
  outline: none;
}

input::placeholder {
  color: #fff;
}

button {
  margin-top: 10px;
  padding: 4px;
  background-color: #1f006e;
  border: none;
  border-radius: 10px;
}

button:active {
  scale: 0.95;
}

h2 {
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 26px;
  height: 100px;
  width: 500px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  border: solid 1px #fff;
  border-radius: 10px;
}

footer {
    margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 10px;
  border-top: solid 1px #fff;
  border-radius: 10px;
}
